Repository DobbyVPN/DobbyVPN: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

.lefthook.yml:

# Lefthook â€” git hooks manager (runs linters before commit)

pre-commit:
  parallel: true
  commands:
    go-lint-unix:
      glob: "go_client/**/*.go"
      run: cd go_client && golangci-lint run --new-from-rev=HEAD~1 $(go list ./... | grep -v '_exports$')
      stage_fixed: true
      only:
        - os: linux
        - os: darwin

    go-lint-windows:
      glob: "go_client/**/*.go"
      run: cd go_client && powershell -Command "golangci-lint run --new-from-rev=HEAD~1 (go list ./... | Where-Object { $_ -notmatch '_exports$' })"
      stage_fixed: true
      only:
        - os: windows

    kotlin-detekt-unix:
      glob: "kmp_client/**/*.kt"
      run: cd kmp_client && ./gradlew detekt
      only:
        - os: linux
        - os: darwin

    kotlin-detekt-windows:
      glob: "kmp_client/**/*.kt"
      run: cd kmp_client && gradlew.bat detekt
      only:
        - os: windows

    swift-lint:
      glob: "kmp_client/iosApp/**/*.swift"
      run: cd kmp_client/iosApp && swiftlint lint --config .swiftlint.yml --quiet
      only:
        - os: darwin
      fail_text: "SwiftLint found issues. Fix them before committing."

pre-push:
  commands:
    trufflehog:
      run: trufflehog git file://. --only-verified --fail
      fail_text: "TruffleHog detected secrets. Remove them before pushing."

First version of georouting on macos
  go_client/outline/internal/app_macos.go
  go_client/routing/routing_macos.go
  go_client/tunnel/protect_darwin.go
Due: go-lint-unix, go-lint-windows

First version of georouting on macos
  go_client/tunnel/protect_darwin.go
Due: go-lint-unix, go-lint-windows

First version of georouting on macos
  go_client/outline/internal/app_macos.go
  go_client/tunnel/protect_darwin.go
Due: go-lint-unix, go-lint-windows

First version of tun2socks on linux
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/dns_linux.go
  go_client/outline/internal/tun_device_linux.go
  go_client/routing/routing_linux.go
  go_client/tunnel/protect_linux.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version of tun2socks on linux
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version of tun2socks on linux
  go_client/outline/internal/app_linux.go
  go_client/routing/routing_linux.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

implement trusttunnel on desktop app
  go_client/desktop_exports/trusttunnel.go
  go_client/ios_exports/trusttunnel.go
  go_client/kotlin_exports/trusttunnel.go
  go_client/logger/logger.go
  go_client/output.txt
  go_client/trusttunnel/client_desktop.go
  go_client/trusttunnel/client_mobile.go
  go_client/trusttunnel/common/const.go
  go_client/trusttunnel/internal/bridge.c
  go_client/trusttunnel/internal/dobby_bridge/CMakeLists.txt
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.cpp
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.h
  go_client/trusttunnel/internal/manager_desktop.go
  go_client/trusttunnel/internal/manager_mobile.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/di/MakeNativeModule.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepository.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepositoryClear.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepositoryTrustTunnel.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/TomlConfigs.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/TrustTunnelTomlApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/vpn_service/TrustTunnelLibFacade.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/domain/DobbyConfigsRepositoryImpl.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/domain/VPNLibrary.kt
  kmp_client/outline/src/main/cpp/jni.c
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

chore: update airports data
  kmp_client/app/src/commonMain/composeResources/files/airports.csv
Due: none

desktop build + fix async TrustTunnel stopping engine crash
  .github/workflows/trusttunnel_build.yml
  go_client/trusttunnel/client_mobile.go
  go_client/trusttunnel/internal/bridge.c
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.cpp
  go_client/trusttunnel/internal/manager_mobile.go
  kmp_client/app/src/androidMain/kotlin/com/dobby/domain/DobbyConfigsRepositoryImpl.kt
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/domain/trusttunnel/TrustTunnelInteractor.kt
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/domain/trusttunnel/TrustTunnelLibFacadeImpl.kt
  kmp_client/app/src/androidMain/kotlin/nativeModule.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/TomlConfigs.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/TrustTunnelTomlApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/presentation/MainViewModel.kt
  kmp_client/conveyor.conf
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

fix build path
  .github/workflows/trusttunnel_build.yml
Due: none

make github run build
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.cpp
Due: none

add logs into stop function
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.cpp
Due: none

stop event loop from the same thread
  go_client/trusttunnel/internal/dobby_bridge/dobby_bridge.cpp
Due: none

Make linux and macos with georouting
  go_client/desktop_exports/georouting.go
  go_client/ios_exports/georouting.go
  go_client/kotlin_exports/georouting.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/dns_linux.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_linux.go
  go_client/outline/internal/tun_device_macos.go
  go_client/routing/routing_linux.go
  go_client/routing/routing_macos.go
  go_client/tunnel/georouting.go
  go_client/tunnel/protect_darwin.go
  go_client/tunnel/protect_linux.go
  go_client/tunnel/tunnel.go
  kmp_client/app/src/androidMain/kotlin/com/dobby/domain/DobbyConfigsRepositoryImpl.kt
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/domain/georouting/GeoRouting.kt
  kmp_client/app/src/androidMain/kotlin/nativeModule.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepository.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/TomlConfigs.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/presentation/MainViewModel.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/domain/DobbyConfigsRepositoryImpl.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/domain/VPNLibrary.kt
  kmp_client/iosApp/CommonDI/DobbyConfigsRepositoryImpl.swift
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
  kmp_client/outline/src/main/cpp/jni.c
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

Clear code
  go_client/awg/client_ios.go
  go_client/desktop_exports/health_check.go
  go_client/healthcheck/health_check.go
  go_client/ios_exports/health_check.go
  go_client/kotlin_exports/health_check.go
  go_client/kotlin_exports/sockets.go
  go_client/log/logger.go
  go_client/outline/client_mobile.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_windows.go
  go_client/routing/routing_macos.go
  go_client/routing/routing_windows.go
  go_client/tunnel/georouting.go
  go_client/tunnel/protected_dialer/protect_android.go
  go_client/tunnel/protected_dialer/protect_ios.go
  go_client/tunnel/protected_dialer/protect_linux.go
  go_client/tunnel/protected_dialer/protect_macos.go
  go_client/tunnel/protected_dialer/protect_windows.go
  go_client/tunnel/protected_dialer/protected_dialer_proxy.go
  go_client/tunnel/tunnel.go
  kmp_client/app/src/jvmMain/kotlin/Main.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/AddTapDevice.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/FindTapDeviceName.kt
  kmp_client/conveyor.conf
  kmp_client/iosApp/CommonDI/DobbyConfigsRepositoryImpl.swift
  kmp_client/iosApp/tunnel/PacketTunnelProvider.swift
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

Clear code
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
Due: go-lint-unix, go-lint-windows

Clear code 2
  go_client/outline/client_mobile.go
  go_client/outline/internal/app_linux.go
  go_client/tunnel/georouting.go
  go_client/tunnel/platform_engine/engine.go
  go_client/tunnel/platform_engine/engine_fd.go
  go_client/tunnel/platform_engine/engine_macos.go
  go_client/tunnel/platform_engine/engine_windows.go
  go_client/tunnel/protected_dialer/dialer.go
  go_client/tunnel/protected_dialer/platform.go
  go_client/tunnel/protected_dialer/protect_android.go
  go_client/tunnel/protected_dialer/protect_ios.go
  go_client/tunnel/protected_dialer/protect_linux.go
  go_client/tunnel/protected_dialer/protect_macos.go
  go_client/tunnel/protected_dialer/protect_windows.go
  go_client/tunnel/protected_dialer/protected_dialer_proxy.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Clear code 3
  go_client/outline/client_mobile.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/tunnel/platform_engine/engine_macos.go
  go_client/tunnel/protected_dialer/protect_macos.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Clear code 3
  go_client/tunnel/platform_engine/engine_macos.go
  go_client/tunnel/platform_engine/engine_windows.go
Due: go-lint-unix, go-lint-windows

Clear code 4
  .github/workflows/desktop_build.yml
  kmp_client/iosApp/tunnel/PacketTunnelProvider.swift
Due: swift-lint

Update lint check
  .github/workflows/security.yml
Due: none

Update lint check
  .github/workflows/lint.yml
Due: none

Clear code 5
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_linux.go
  go_client/routing/routing_linux.go
  go_client/routing/routing_macos.go
  go_client/tunnel/georouting.go
  go_client/tunnel/platform_engine/engine_fd.go
  go_client/tunnel/platform_engine/engine_macos.go
  go_client/tunnel/platform_engine/engine_windows.go
  go_client/tunnel/protected_dialer/dialer.go
  go_client/tunnel/protected_dialer/protect_linux.go
  go_client/tunnel/protected_dialer/protect_macos.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Clear code 5
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_linux.go
  go_client/routing/routing_linux.go
  go_client/tunnel/georouting.go
  go_client/tunnel/protected_dialer/dialer.go
  go_client/tunnel/protected_dialer/protect_linux.go
Due: go-lint-unix, go-lint-windows

Clear code 5
  go_client/tunnel/protected_dialer/dialer.go
Due: go-lint-unix, go-lint-windows

Clear code 5
  go_client/outline/internal/outline_device.go
  go_client/tunnel/protected_dialer/dialer.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Clear code 5
  go_client/outline/internal/tun_device_linux.go
Due: go-lint-unix, go-lint-windows

Fixed merge errors
  go_client/desktop_exports/proto/georouting.go
  go_client/grpcproto/vpnserver.pb.go
  go_client/grpcproto/vpnserver.proto
  go_client/grpcproto/vpnserver_grpc.pb.go
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableGeoroutingGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/nativeModule.kt
  kmp_client/grpcprotos/src/main/proto/com/dobby/vpnserver/vpnserver.proto
  kmp_client/grpcstub/src/main/kotlin/interop/GrpcVpnLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/georouting/GeoroutingGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/georouting/GeoroutingLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckGrpcLibrary.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

AwmneziaWG on linux
  go_client/awg/client_desktop.go
  go_client/awg/config/config.go
  go_client/awg/config/endpoint.go
  go_client/awg/config/interface.go
  go_client/awg/config/ipcidr.go
  go_client/awg/config/key.go
  go_client/awg/config/name.go
  go_client/awg/config/parse.go
  go_client/awg/config/peer.go
  go_client/awg/config/types.go
  go_client/awg/config/writer.go
  go_client/awg/internal/app.go
  go_client/awg/internal/app_unix.go
  go_client/awg/subnet/common.go
  go_client/awg/subnet/subnet_darwin.go
  go_client/awg/subnet/subnet_linux.go
  go_client/awg/subnet/subnet_windows.go
  go_client/awg/tunnel/common.go
  go_client/awg/tunnel/tun_linux.go
Due: go-lint-unix, go-lint-windows

Fix georouting
  go_client/tunnel/georouting.go
Due: go-lint-unix, go-lint-windows

Change geoConfig place
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
  kmp_client/iosApp/tunnel/PacketTunnelProvider.swift
Due: swift-lint

Fix protected sockets on ios
  go_client/tunnel/georouting.go
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
  kmp_client/iosApp/tunnel/PacketTunnelProvider.swift
Due: go-lint-unix, go-lint-windows, swift-lint

Change cmd execution
  go_client/tunnel/platform_engine/engine_windows.go
Due: go-lint-unix, go-lint-windows

Fix protected sockets on ios and cmd exec on windows
  go_client/tunnel/platform_engine/engine_macos.go
Due: go-lint-unix, go-lint-windows

AmneziaWG on Windows
  go_client/awg/internal/app.go
  go_client/awg/internal/app_windows.go
  go_client/awg/subnet/addressconfig_windows.go
  go_client/awg/subnet/common.go
  go_client/awg/subnet/defaultroutemonitor.go
  go_client/awg/subnet/interfacewatcher.go
  go_client/awg/subnet/subnet_darwin.go
  go_client/awg/subnet/subnet_linux.go
  go_client/awg/subnet/subnet_windows.go
  go_client/awg/tunnel/common.go
  go_client/awg/tunnel/tun_windows.go
Due: go-lint-unix, go-lint-windows

Move fastline
  .github/workflows/android_build.yml
  .github/workflows/desktop_build.yml
  .github/workflows/ios_build.yml
  fastlane/Fastfile
  kmp_client/Gemfile
Due: none

Move fastline and swift_module (old iosApp)
  .coderabbit.yaml
  .github/workflows/android_build.yml
  .github/workflows/desktop_build.yml
  .github/workflows/fdroid_check.yml
  .github/workflows/ios_build.yml
  .github/workflows/libs_generate.yml
  .github/workflows/lint.yml
  .lefthook.yml
  Gemfile
  Taskfile.yml
  fastlane/Fastfile
  kmp_client/fastlane/Fastfile
  kmp_client/iosApp/app.framework/Info.plist
  swift_module/.swiftlint.yml
  swift_module/CommonDI/AuthenticationManagerImpl.swift
  swift_module/CommonDI/AwgManagerImpl.swift
  swift_module/CommonDI/CommonDI.h
  swift_module/CommonDI/CopyLogsInteractorImpl.swift
  swift_module/CommonDI/DobbyConfigsRepositoryImpl.swift
  swift_module/CommonDI/HealthCheckImpl.swift
  swift_module/CommonDI/IpRepositoryImpl.swift
  swift_module/CommonDI/VpnManagerImpl.swift
  swift_module/CommonDI/nativeModule.swift
  swift_module/Configuration/Config.xcconfig
  swift_module/iosApp.xcodeproj/project.pbxproj
  swift_module/iosApp/Assets.xcassets/AccentColor.colorset/Contents.json
  swift_module/iosApp/Assets.xcassets/AppIcon.appiconset/00002.jpg
  swift_module/iosApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  swift_module/iosApp/Assets.xcassets/Contents.json
  swift_module/iosApp/ContentView.swift
  swift_module/iosApp/Info.plist
  swift_module/iosApp/Preview Content/Preview Assets.xcassets/Contents.json
  swift_module/iosApp/iOSApp.swift
  swift_module/iosApp/iosApp.entitlements
  swift_module/local_run.md
  swift_module/tunnel/CloakInteractor.swift
  swift_module/tunnel/Info.plist
  swift_module/tunnel/OutlineInteractor.swift
  swift_module/tunnel/PacketTunnelProvider.swift
  swift_module/tunnel/tunnel.entitlements
Due: none
