Repository DobbyVPN/DobbyVPN: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint-unix, go-lint-windows, kotlin-detekt, swift-lint

go-lint-unix:
  run: cd go_client && golangci-lint run --new.from-rev=HEAD~1 $(go list ./... | grep -v '_exports$')
  stage_fixed: true
  only:
  - os: linux
  - os: darwin

go-lint-windows:
  run: cd go_client && powershell -Command "golangci-lint run --new.from-rev=HEAD~1 (go list ./... | Where-Object { $_ -notmatch '_exports$' })"
  stage_fixed: true
  only:
  - os: windows

kotlin-detekt:
  run: cd kmp_client && {gradlew} detekt

swift-lint:
  run: cd kmp_client/iosApp && swiftlint lint --config .swiftlint.yml --quiet
  only:
  - os: darwin
  fail_text: SwiftLint found issues. Fix them before committing.

Some fix
  .coderabbit.yaml
  .lefthook.yml
  go_client/.golangci.yml
  go_client/common/client.go
  kmp_client/iosApp/CommonDI/CopyLogsInteractorImpl.swift
  sonar-project.properties
Due: go-lint-unix, go-lint-windows, swift-lint

Some fix
  .github/workflows/actionlint.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
  go_client/healthcheck/address_port_check.go
  go_client/logger/logger.go
  go_client/outline/internal/outline_device.go
  sonar-project.properties
Due: go-lint-unix, go-lint-windows

Some fix
  .github/workflows/lint.yml
Due: none

Some fix
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .lefthook.yml
Due: none

Some fix
  .github/workflows/lint.yml
  .github/workflows/security.yml
  kmp_client/iosApp/CommonDI/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
Due: swift-lint

Some fix
  kmp_client/awg/src/main/cpp/libwg-go/go.mod
  kmp_client/awg/src/main/cpp/libwg-go/go.sum
Due: none

Some fix
  .coderabbit.yaml
  .editorconfig
  .lefthook.yml
  Taskfile.yml
  kmp_client/awg/src/main/cpp/libwg-go/go.mod
  kmp_client/awg/src/main/cpp/libwg-go/go.sum
  kmp_client/detekt.yml
  kmp_client/iosApp/.swiftlint.yml
Due: none

Some fix
  .github/workflows/security.yml
  .trivyignore
  kmp_client/awg/src/main/cpp/libwg-go/go.mod
  kmp_client/awg/src/main/cpp/libwg-go/go.sum
Due: none

Add first vesion of gVisor
  go_client/tunnel/direct/device.go
  go_client/tunnel/direct_tcp.go
  go_client/tunnel/georouting/default_cidrs.go
  go_client/tunnel/georouting/georouting.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Add first vesion of gVisor
  go_client/go.mod
  go_client/go.sum
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Add first vesion of gVisor
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Add first vesion of gVisor
  go_client/go.mod
  go_client/tunnel/direct/device.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Add first vesion of gVisor
  go_client/go.mod
  go_client/go.sum
Due: none

Add first vesion of lwip2transport
  go_client/tunnel/direct/device.go
Due: go-lint-unix, go-lint-windows

Revert "Add first vesion of lwip2transport"
  go_client/tunnel/direct/device.go
Due: go-lint-unix, go-lint-windows

Add second vesion of gVisor
  go_client/go.mod
  go_client/go.sum
  go_client/tunnel/direct/device.go
Due: go-lint-unix, go-lint-windows

Add second vesion of gVisor
  go_client/tunnel/direct/device.go
Due: go-lint-unix, go-lint-windows

Fix path in device install on windows
  go_client/go.mod
  go_client/go.sum
  go_client/tunnel/direct/device.go
  go_client/tunnel/direct/packet.go
  go_client/tunnel/direct/tcpproxy.go
  go_client/tunnel/direct/udpproxy.go
  test/go.mod
  test/go.sum
  test/test.go
Due: go-lint-unix, go-lint-windows

Return to lwip2transport base version
  go_client/go.mod
  go_client/go.sum
  go_client/tunnel/direct/device.go
  go_client/tunnel/direct/packet.go
  go_client/tunnel/direct/tcpproxy.go
  go_client/tunnel/direct/udpproxy.go
  test/go.mod
  test/go.sum
  test/test.go
Due: go-lint-unix, go-lint-windows

add: functional, e2e test for go_client
  .github/workflows/go_tests.yml
  Taskfile.yml
  go_client/cloak/cloak_config_functional_test.go
  go_client/cloak/transport_config_functional_test.go
  go_client/e2e/README.md
  go_client/e2e/cloak/Dockerfile
  go_client/e2e/cloak/README.md
  go_client/e2e/cloak/ckserver.e2e.json
  go_client/e2e/cloak/docker-compose.cloak.e2e.yml
  go_client/e2e/cloak_negative_e2e_test.go
  go_client/e2e/docker-compose.e2e.yml
  go_client/e2e/e2e_tag_guard_test.go
  go_client/e2e/go_e2e_test.go
  go_client/e2e/wss_echo/Dockerfile
  go_client/e2e/wss_echo/main.go
  go_client/healthcheck/health_check_reconnect_e2e_test.go
  go_client/healthcheck/urlTest.go
  go_client/ios_exports/boundary_contract_functional_test.go
  go_client/kotlin_exports/boundary_contract_functional_test.go
Due: go-lint-unix, go-lint-windows

add: fix start kotlin_exports
  Taskfile.yml
Due: none

add: disable exports tests
  .github/workflows/go_heavy_tests.yml
  .github/workflows/go_tests.yml
  Taskfile.yml
  go_client/e2e/cloak_negative_e2e_test.go
  go_client/e2e/go_e2e_test.go
Due: go-lint-unix, go-lint-windows

add: some fix
  .github/workflows/go_heavy_tests.yml
  go_client/e2e/README.md
  go_client/e2e/docker-compose.e2e.yml
  go_client/e2e/go_e2e_test.go
Due: go-lint-unix, go-lint-windows

chore: update airports data
  kmp_client/app/src/commonMain/composeResources/files/airports.csv
Due: none

add: kotlin e2e, functional tests
  .github/workflows/android_instrumented_dispatch.yml
  .github/workflows/core_tests.yml
  .github/workflows/go_heavy_tests.yml
  .github/workflows/heavy_tests.yml
  Taskfile.yml
  kmp_client/app/build.gradle.kts
  kmp_client/app/src/androidTest/kotlin/com/dobby/feature/e2e/AndroidThinClientBaselineInstrumentedTest.kt
  kmp_client/app/src/androidTest/kotlin/com/dobby/feature/e2e/AndroidThinClientHeavyInstrumentedTest.kt
  kmp_client/app/src/androidTest/kotlin/com/dobby/test/DobbyTestRunner.kt
  kmp_client/app/src/androidTest/kotlin/com/dobby/test/TestDobbyApp.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManager.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManagerFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/e2e/VpnFullE2EContractTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelStateFunctionalTest.kt
Due: kotlin-detekt

add: fix kotlin tests, fix ci
  .github/workflows/android_instrumented_dispatch.yml
  .github/workflows/heavy_tests.yml
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManagerFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/e2e/VpnFullE2EContractTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelStateFunctionalTest.kt
Due: kotlin-detekt

add: fix kotlin tests, fix ci
  .github/workflows/heavy_tests.yml
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplierFunctionalTest.kt
Due: kotlin-detekt

add: fix kotlin tests, fix ci
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManager.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManagerFunctionalTest.kt
Due: kotlin-detekt

add: fix kotlin tests, fix ci
  .github/workflows/android_instrumented_dispatch.yml
  .github/workflows/heavy_tests.yml
Due: none

add: fix kotlin tests, fix ci
  .github/workflows/android_instrumented_dispatch.yml
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManagerFunctionalTest.kt
  kmp_client/gradle/libs.versions.toml
Due: kotlin-detekt

add: fix kotlin tests, fix ci
  .github/workflows/android_instrumented_dispatch.yml
  .github/workflows/core_tests.yml
  .github/workflows/heavy_tests.yml
  go_client/e2e/cloak_negative_e2e_test.go
  go_client/e2e/go_e2e_test.go
  go_client/healthcheck/health_check_reconnect_e2e_test.go
  kmp_client/app/build.gradle.kts
  kmp_client/app/src/androidTest/kotlin/com/dobby/feature/e2e/AndroidThinClientBaselineInstrumentedTest.kt
  kmp_client/app/src/androidTest/kotlin/com/dobby/feature/e2e/AndroidThinClientHeavyInstrumentedTest.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/AirportsManager.kt
  kmp_client/app/src/commonTest/kotlin/com/dobby/test/fixtures/TestCountingVpnManager.kt
  kmp_client/app/src/commonTest/kotlin/com/dobby/test/fixtures/TestFakeAwgManager.kt
  kmp_client/app/src/commonTest/kotlin/com/dobby/test/fixtures/TestFakeDobbyConfigs.kt
  kmp_client/app/src/commonTest/kotlin/com/dobby/test/fixtures/TestScriptedHealthCheck.kt
  kmp_client/app/src/commonTest/kotlin/com/dobby/test/fixtures/TestViewModelFactory.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/authentication/domain/AirportsManagerFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManagerFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/presentation/DiagnosticViewModelFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/e2e/VpnFullE2EContractTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/CloakTomlApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/OutlineTomlApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelStateFunctionalTest.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt

add: fix kotlin tests, fix ci
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/CloakTomlApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/ConfigTestFixtures.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/OutlineTomlApplierFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplierFunctionalTest.kt
Due: kotlin-detekt

Make new version tun2socks
  go_client/go.mod
  go_client/go.sum
  go_client/outline/client_mobile.go
  go_client/tunnel/georouting/georouting.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Make new version tun2socks
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Make new version tun2socks
  go_client/outline/client_mobile.go
Due: go-lint-unix, go-lint-windows

Make new version tun2socks
  go_client/outline/internal/outline_device.go
Due: go-lint-unix, go-lint-windows

Path conditions:
  go-lint-unix: any of: go_client/**/*.go
  go-lint-windows: any of: go_client/**/*.go
  kotlin-detekt: any of: kmp_client/**/*.kt
  swift-lint: any of: kmp_client/iosApp/**/*.swift
