Repository DobbyVPN/DobbyVPN: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

go-lint-unix:
  run: cd go_client && golangci-lint run --new-from-rev=HEAD~1 $(go list ./... | grep -v '_exports$')
  stage_fixed: true
  only:
  - os: linux
  - os: darwin

go-lint-windows:
  run: cd go_client && powershell -Command "golangci-lint run --new-from-rev=HEAD~1 (go list ./... | Where-Object { $_ -notmatch '_exports$' })"
  stage_fixed: true
  only:
  - os: windows

kotlin-detekt-unix:
  run: cd kmp_client && ./gradlew detekt
  only:
  - os: linux
  - os: darwin

kotlin-detekt-windows:
  run: cd kmp_client && gradlew.bat detekt
  only:
  - os: windows

swift-lint:
  run: cd kmp_client/iosApp && swiftlint lint --config .swiftlint.yml --quiet
  only:
  - os: darwin
  fail_text: SwiftLint found issues. Fix them before committing.

Make new version tun2socks
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed imports + code format
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/presentation/MainViewModel.kt
  kmp_client/app/src/jvmMain/kotlin/Main.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/authentication/domain/AuthenticationManagerImpl.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/domain/VPNLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/AddTapDevice.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/FindTapDeviceName.kt
  kmp_client/app/src/jvmMain/kotlin/nativeModule.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

More logs
  go_client/outline/client_mobile.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

More logs
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

More logs
  go_client/outline/client_mobile.go
Due: go-lint-unix, go-lint-windows

Refactoring: grpc proto
  kmp_client/grpcprotos/src/main/proto/com/dobby/vpnserver/vpnserver.proto
  kmp_client/grpcstub/src/main/kotlin/interop/GRPCVpnClient.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: fixed not working outline+cloak
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

add: fix kotlin tests, fix ci
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/diagnostic/presentation/DiagnosticViewModel.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/diagnostic/presentation/DiagnosticViewModelFunctionalTest.kt
  kmp_client/fastlane/Fastfile
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: fixed health check turning off VPN
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckManager.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

add: add swift tests, some fix
  .github/workflows/core_tests.yml
  go_client/healthcheck/healthcheck_functional_test.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/GeoMath.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/LocationManager.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/authentication/domain/GeoMathFunctionalTest.kt
  kmp_client/iosApp/DobbyVPNTests/ConfigsRepositoryFunctionalTest.swift
  kmp_client/iosApp/DobbyVPNTests/HostExtractionFunctionalTest.swift
  kmp_client/iosApp/DobbyVPNTests/MaskStringFunctionalTest.swift
  kmp_client/iosApp/DobbyVPNTests/MemoryResponseParseFunctionalTest.swift
  kmp_client/iosApp/DobbyVPNTests/OutlineConfigBuildFunctionalTest.swift
  kmp_client/iosApp/iosApp.xcodeproj/project.pbxproj
  kmp_client/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/DobbyVPNTests.xcscheme
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

some fix
  go_client/healthcheck/healthcheck_functional_test.go
Due: go-lint-unix, go-lint-windows

Refactoring: awg revert
  go_client/awg/internal/app.go
Due: go-lint-unix, go-lint-windows

Refactoring: revert awg changes on iosApp
  kmp_client/iosApp/CommonDI/AwgManagerImpl.swift
  kmp_client/iosApp/CommonDI/nativeModule.swift
Due: swift-lint

Post merge fixes
  go_client/desktop_exports/proto/health_check.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed GitHub actions
  .github/workflows/libs_generate.yml
Due: none

some fix
  kmp_client/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
Due: none

Refactoring: fixed GitHub actions, removed libs upload conflicts
  .github/workflows/libs_generate.yml
Due: none

New try tun2socks
  go_client/go.mod
  go_client/go.sum
  go_client/outline/client_mobile.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/outline_packet_proxy.go
  go_client/outline/internal/tun_device_linux.go
  go_client/outline/internal/tun_device_macos.go
  go_client/outline/internal/tun_device_windows.go
  go_client/tunnel/tunnel.go
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/domain/outline/OutlineInteractor.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

Try add georouting
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Try add georouting
  go_client/kotlin_exports/sockets.go
  go_client/tunnel/tunnel.go
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/outline/src/main/cpp/jni.c
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

Try add georouting
  go_client/kotlin_exports/sockets.go
Due: go-lint-unix, go-lint-windows

Try add georouting
  kmp_client/outline/src/main/cpp/jni.c
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Try add georouting
  go_client/kotlin_exports/sockets.go
  go_client/tunnel/tunnel.go
  kmp_client/outline/src/main/cpp/CMakeLists.txt
Due: go-lint-unix, go-lint-windows

Refactoring: minor fixes
  go_client/go.mod
  go_client/go.sum
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepository.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepositoryVpn.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/OutlineTomlApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/TomlConfigApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/presentation/MainViewModel.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: detekt fixes
  kmp_client/app/src/jvmMain/kotlin/com/dobby/domain/DobbyConfigsRepositoryImpl.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/diagnostic/domain/HealthCheckImpl.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/RestartableGRPCVPNLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableAwgGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableCloakGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableHealthCheckGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableLoggerGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableOutlineGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/nativeModule.kt
  kmp_client/detekt.yml
  kmp_client/grpcstub/src/main/kotlin/interop/GRPCVPNLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/GRPCVpnClient.kt
  kmp_client/grpcstub/src/main/kotlin/interop/GrpcVpnLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/VPNLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/awg/AwgGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/awg/AwgLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/cloak/CloakGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/cloak/CloakLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/data/TcpPingResponce.kt
  kmp_client/grpcstub/src/main/kotlin/interop/data/TcpPingResponse.kt
  kmp_client/grpcstub/src/main/kotlin/interop/data/UrlTestResponce.kt
  kmp_client/grpcstub/src/main/kotlin/interop/data/UrlTestResponse.kt
  kmp_client/grpcstub/src/main/kotlin/interop/exceptions/VPNServiceConnectionException.kt
  kmp_client/grpcstub/src/main/kotlin/interop/exceptions/VpnServiceStatusException.kt
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/logger/LoggerGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/logger/LoggerLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/outline/OutlineGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/outline/OutlineLibrary.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: libs_generate.yml some code revert
  .github/workflows/libs_generate.yml
Due: none

Refactoring: GitHub actions lint fix
  .github/workflows/desktop_build.yml
  .github/workflows/release.yml
Due: none

Refactoring: GitHub actions lint fix
  .github/workflows/libs_generate.yml
Due: none

Add first ios version
  go_client/ios_exports/sockets.go
Due: go-lint-unix, go-lint-windows

fix: after coderabbit review
  go_client/e2e/cloak/Dockerfile
  go_client/e2e/cloak_negative_e2e_test.go
  go_client/e2e/go_e2e_test.go
  go_client/e2e/wss_echo/Dockerfile
  go_client/e2e/wss_echo/main.go
  go_client/healthcheck/healthcheck_functional_test.go
  go_client/ios_exports/boundary_contract_functional_test.go
  go_client/kotlin_exports/boundary_contract_functional_test.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/AirportsManager.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/GeoMath.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/diagnostic/presentation/DiagnosticViewModel.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/authentication/domain/AirportsManagerFunctionalTest.kt
  kmp_client/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/DobbyVPNTests.xcscheme
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

fix: after coderabbit review
  go_client/cloak/transport_config_functional_test.go
  go_client/e2e/cloak_negative_e2e_test.go
  go_client/e2e/go_e2e_test.go
  go_client/ios_exports/boundary_contract_functional_test.go
  go_client/kotlin_exports/boundary_contract_functional_test.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/authentication/domain/AirportsManager.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/authentication/domain/AirportsManagerFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/e2e/VpnFullE2EContractTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelFunctionalTest.kt
  kmp_client/app/src/jvmTest/kotlin/com/dobby/feature/main/presentation/MainViewModelStateFunctionalTest.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

chore: update airports data
  kmp_client/app/src/commonMain/composeResources/files/airports.csv
Due: none

Refactoring: windows installer refactoring + desktop shortcut
  installer/windows/AppComponents.wxs
  installer/windows/Folders.wxs
  installer/windows/README.md
  installer/windows/build.bat
Due: none

Path conditions:
  go-lint-unix: any of: go_client/**/*.go
  go-lint-windows: any of: go_client/**/*.go
  kotlin-detekt-unix: any of: kmp_client/**/*.kt
  kotlin-detekt-windows: any of: kmp_client/**/*.kt
  swift-lint: any of: kmp_client/iosApp/**/*.swift
