Repository DobbyVPN/DobbyVPN: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint, kotlin-detekt, swift-lint

.lefthook.yml:

# Lefthook — git hooks manager (runs linters before commit)

pre-commit:
  parallel: true
  commands:
    go-lint:
      glob: "go_client/**/*.go"
      run: cd go_client && golangci-lint run --new-from-rev=HEAD~1 ./...
      stage_fixed: true

    kotlin-detekt:
      glob: "kmp_client/**/*.kt"
      run: cd kmp_client && {gradlew} detekt
      # {gradlew} resolves to ./gradlew on Unix, gradlew.bat on Windows

    swift-lint:
      glob: "kmp_client/iosApp/**/*.swift"
      run: cd kmp_client/iosApp && swiftlint lint --config .swiftlint.yml --quiet
      # SwiftLint available on macOS only — skip silently on other OS
      only:
        - os: darwin
      fail_text: "SwiftLint found issues. Fix them before committing."

pre-push:
  commands:
    trufflehog:
      run: trufflehog git file://. --since-commit HEAD~5 --only-verified --fail
      fail_text: "TruffleHog detected secrets. Remove them before pushing."

Some fix
  .github/workflows/security.yml
Due: none

Fix ios packets read
  go_client/tunnel/internal/codec_default.go
  go_client/tunnel/internal/codec_ios.go
  go_client/tunnel/tunnel.go
Due: go-lint

Fix ios packets read
  go_client/tunnel/internal/adaptor_default.go
  go_client/tunnel/internal/adaptor_ios.go
  go_client/tunnel/tunnel.go
Due: go-lint

Fix android
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
Due: kotlin-detekt

Fix windows device installer
  kmp_client/app/src/androidMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/AddTapDevice.kt
Due: kotlin-detekt

Fix path in device install on windows
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/AddTapDevice.kt
Due: kotlin-detekt

Fix for linter, swift. Some linters fix
  .github/workflows/lint.yml
  .github/workflows/security.yml
  kmp_client/detekt.yml
  kmp_client/iosApp/.swiftlint.yml
  kmp_client/iosApp/CommonDI/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/AwgManagerImpl.swift
  kmp_client/iosApp/CommonDI/CopyLogsInteractorImpl.swift
  kmp_client/iosApp/CommonDI/DobbyConfigsRepositoryImpl.swift
  kmp_client/iosApp/CommonDI/HealthCheckImpl.swift
  kmp_client/iosApp/CommonDI/IpRepositoryImpl.swift
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
  kmp_client/iosApp/CommonDI/nativeModule.swift
  kmp_client/iosApp/iosApp/ContentView.swift
  kmp_client/iosApp/iosApp/iOSApp.swift
  kmp_client/iosApp/tunnel/PacketTunnelProvider.swift
Due: swift-lint

Some fix
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .lefthook.yml
  Taskfile.yml
  kmp_client/build.gradle.kts
  kmp_client/detekt.yml
  kmp_client/iosApp/.swiftlint.yml
  kmp_client/outline/src/main/java/com/dobby/outline/GoBackend.kt
Due: kotlin-detekt

Fix for golang lint
  .golangci.yml
Due: none

Fix for golang lint
  Taskfile.yml
  go_client/.golangci.yml
Due: none

Fix for golang lint
  go_client/.golangci.yml
Due: none

Fixed android build
  kmp_client/app/src/androidMain/kotlin/nativeModule.kt
Due: kotlin-detekt

Fixed IOS build
  kmp_client/iosApp/CommonDI/AwgManagerImpl.swift
  kmp_client/iosApp/CommonDI/nativeModule.swift
Due: swift-lint

Move CoreLocation to another target
  kmp_client/iosApp/AuthenticationModule/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/nativeModule.swift
  kmp_client/iosApp/iosApp.xcodeproj/project.pbxproj
Due: swift-lint

Fix for golang lint
  .github/workflows/lint.yml
  .lefthook.yml
  Taskfile.yml
Due: none

Resolve conflict
  .github/workflows/lint.yml
Due: none

Some fix
  .github/workflows/lint.yml
Due: none

Change deps
  kmp_client/iosApp/iosApp/Info.plist
Due: none

Change perms
  kmp_client/iosApp/iosApp/Info.plist
Due: none

Some fix
  go_client/.golangci.yml
  go_client/awg/internal/app.go
  go_client/common/client.go
  go_client/desktop_exports/health_check.go
  go_client/healthcheck/address_port_check.go
  go_client/healthcheck/health_check.go
  go_client/healthcheck/tcp_ping.go
  go_client/healthcheck/urlTest.go
  go_client/ios_exports/health_check.go
  go_client/kotlin_exports/health_check.go
  go_client/logger/logger.go
  go_client/outline/common/const.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/dns_linux.go
  go_client/outline/internal/ipv6_linux.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/outline_packet_proxy.go
  go_client/outline/internal/tun_device_linux.go
  go_client/routing/routing_linux.go
Due: go-lint

add: debug/info/warn/error log levels
  go_client/logger/logger.go
  go_client/xray/internal/log_bridge.go
Due: go-lint

Better documentation
  .github/workflows/installers_build.yml
  go_client/README.md
  go_client/SERVICES.md
  installer/README.md
  tester/README.md
Due: none

KMP client README
  kmp_client/README.md
Due: none

Tester refactoring: moved util code to the util/ folder
  tester/main.go
  tester/util/assert.go
  tester/util/config.go
  tester/util/ip.go
  tester/util/steps.go
Due: none

Tester refactoring: Added more tests
  tester/config-template.json
Due: none

Tester refactoring: removed useless logging
  tester/util/steps.go
Due: none

coderabbitai review fixes
  .github/workflows/desktop_build.yml
  go_client/desktop_exports/xray.go
  go_client/xray/client_desktop.go
  go_client/xray/client_mobile.go
  go_client/xray/internal/manager_linux.go
  go_client/xray/internal/manager_macos.go
  go_client/xray/internal/manager_mobile.go
  go_client/xray/internal/manager_windows.go
  go_client/xray/internal/utils.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepositoryClear.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/config/XrayTomlApplier.kt
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/presentation/MainViewModel.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/domain/VPNLibrary.kt
  kmp_client/outline/src/main/cpp/jni.c
Due: go-lint, kotlin-detekt

Some fix
  kmp_client/iosApp/iosApp.xcodeproj/project.pbxproj
Due: none

Fix swift, security check
  .github/workflows/lint.yml
  .github/workflows/security.yml
  kmp_client/iosApp/CommonDI/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/nativeModule.swift
Due: swift-lint

Add first vesion of georouting
  go_client/georouting/default_cidrs.go
  go_client/georouting/default_router.go
  go_client/georouting/engine.go
  go_client/georouting/iptrie.go
  go_client/tunnel/packet_meta.go
  go_client/tunnel/transfer_options.go
  go_client/tunnel/tunnel.go
Due: go-lint

Add first vesion of georouting
  go_client/georouting/default_cidrs.go
Due: go-lint

chore: update airports data
  kmp_client/app/src/commonMain/composeResources/files/airports.csv
Due: none

minor fixes
  go_client/xray/client_mobile.go
  go_client/xray/internal/manager_linux.go
  go_client/xray/internal/manager_macos.go
  go_client/xray/internal/manager_windows.go
  go_client/xray/internal/utils.go
  kmp_client/app/src/commonMain/kotlin/com/dobby/feature/main/domain/DobbyConfigsRepositoryClear.kt
Due: go-lint, kotlin-detekt

Some fix
  .editorconfig
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
  .lefthook.yml
  go_client/common/client.go
  go_client/ios_exports/health_check.go
  go_client/routing/routing_linux.go
  kmp_client/iosApp/CommonDI/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/DobbyConfigsRepositoryImpl.swift
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
  sonar-project.properties
Due: go-lint, swift-lint

Some fix
  .coderabbit.yaml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
  go_client/common/client.go
  go_client/desktop_exports/health_check.go
  go_client/ios_exports/health_check.go
  go_client/kotlin_exports/health_check.go
  go_client/outline/internal/ipv6_linux.go
  kmp_client/iosApp/CommonDI/AuthenticationManagerImpl.swift
  kmp_client/iosApp/CommonDI/VpnManagerImpl.swift
Due: go-lint, swift-lint

Some fix
  .coderabbit.yaml
  sonar-project.properties
Due: none

Some fix
  .coderabbit.yaml
Due: none

code dublication refactoring
  go_client/xray/common/const.go
  go_client/xray/internal/manager.go
  go_client/xray/internal/manager_linux.go
  go_client/xray/internal/manager_macos.go
  go_client/xray/internal/manager_windows.go
  go_client/xray/internal/utils.go
Due: go-lint

Add first vesion of gVisor
  go_client/direct/direct_tcp.go
  go_client/georouting/default_router.go
  go_client/georouting/engine.go
  go_client/georouting/georouting.go
  go_client/georouting/iptrie.go
  go_client/tunnel/packet_meta.go
  go_client/tunnel/transfer_options.go
  go_client/tunnel/tunnel.go
Due: go-lint

Add first vesion of gVisor
  go_client/tunnel/direct_tcp.go
  go_client/tunnel/tunnel.go
Due: go-lint
