Repository DobbyVPN/DobbyVPN: changes, and which lefthook commands are due for each by the changed paths.
All: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows, swift-lint

.lefthook.yml:

# Lefthook â€” git hooks manager (runs linters before commit)

pre-commit:
  parallel: true
  commands:
    go-lint-unix:
      glob: "go_client/**/*.go"
      run: cd go_client && golangci-lint run --new-from-rev=HEAD~1 $(go list ./... | grep -v '_exports$')
      stage_fixed: true
      only:
        - os: linux
        - os: darwin

    go-lint-windows:
      glob: "go_client/**/*.go"
      run: cd go_client && powershell -Command "golangci-lint run --new-from-rev=HEAD~1 (go list ./... | Where-Object { $_ -notmatch '_exports$' })"
      stage_fixed: true
      only:
        - os: windows

    kotlin-detekt-unix:
      glob: "kmp_client/**/*.kt"
      run: cd kmp_client && ./gradlew detekt
      only:
        - os: linux
        - os: darwin

    kotlin-detekt-windows:
      glob: "kmp_client/**/*.kt"
      run: cd kmp_client && gradlew.bat detekt
      only:
        - os: windows

    swift-lint:
      glob: "kmp_client/iosApp/**/*.swift"
      run: cd kmp_client/iosApp && swiftlint lint --config .swiftlint.yml --quiet
      only:
        - os: darwin
      fail_text: "SwiftLint found issues. Fix them before committing."

pre-push:
  commands:
    trufflehog:
      run: trufflehog git file://. --only-verified --fail
      fail_text: "TruffleHog detected secrets. Remove them before pushing."

Refactoring: removed unused rpc endpoints
  go_client/grpcproto/vpnserver.proto
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableHealthCheckGrpcLibrary.kt
  kmp_client/grpcprotos/src/main/proto/com/dobby/vpnserver/vpnserver.proto
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckLibrary.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: added executables to the .gitignore
  go_client/.gitignore
Due: none

Refactoring: grpcproto/ regenerate
  go_client/grpcproto/vpnserver.pb.go
  go_client/grpcproto/vpnserver_grpc.pb.go
Due: go-lint-unix, go-lint-windows

Refactoring: logger buffer
  go_client/desktop_exports/api/health_check.go
  go_client/desktop_exports/proto/health_check.go
  go_client/go.mod
  go_client/go.sum
  go_client/logger/logger.go
  tester/go.mod
  tester/grpcproto/vpnserver.pb.go
  tester/grpcproto/vpnserver.proto
  tester/grpcproto/vpnserver_grpc.pb.go
  tester/util/steps.go
  tester/vpnserver/vpnserver.pb.go
Due: go-lint-unix, go-lint-windows

Add first ios version (check Outline, WSS, Cloak)
  go_client/awg/client_android.go
  go_client/awg/client_ios.go
  go_client/cloak/client.go
  go_client/cloak/routing_linux.go
  go_client/cloak/routing_macos.go
  go_client/cloak/routing_windows.go
  go_client/desktop_exports/awg.go
  go_client/desktop_exports/cloak.go
  go_client/desktop_exports/health_check.go
  go_client/desktop_exports/logger.go
  go_client/desktop_exports/outline.go
  go_client/go.mod
  go_client/go.sum
  go_client/healthcheck/health_check.go
  go_client/ios_exports/guard.go
  go_client/ios_exports/health_check.go
  go_client/ios_exports/logger.go
  go_client/ios_exports/outline.go
  go_client/ios_exports/sockets.go
  go_client/kotlin_exports/health_check.go
  go_client/kotlin_exports/logger.go
  go_client/kotlin_exports/outline.go
  go_client/kotlin_exports/sockets.go
  go_client/log/logger.go
  go_client/modules/Cloak/exported_client/ck-client.go
  go_client/modules/Cloak/exported_client/protector_android.go
  go_client/outline/client_desktop.go
  go_client/outline/client_mobile.go
  go_client/outline/internal/app_linux.go
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_macos.go
  go_client/outline/internal/tun_device_windows.go
  go_client/routing/routing_linux.go
  go_client/routing/routing_macos.go
  go_client/routing/routing_windows.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Refactoring: simplified logger buffer
  go_client/logger/logger.go
Due: go-lint-unix, go-lint-windows

Fix android cloak
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Fix android cloak
  go_client/modules/Cloak/exported_client/protector_android.go
Due: go-lint-unix, go-lint-windows

Refactoring: moved AddTapDevice code to the go library
  go_client/desktop_exports/api/drivers.go
  go_client/desktop_exports/proto/drivers.go
  go_client/drivers/tap_device_unix.go
  go_client/drivers/tap_device_windows.go
  go_client/go.mod
  go_client/go.sum
  go_client/grpcproto/vpnserver.pb.go
  go_client/grpcproto/vpnserver.proto
  go_client/grpcproto/vpnserver_grpc.pb.go
  kmp_client/app/src/jvmMain/kotlin/Main.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/grpc/RestartableDriversGrpcLibrary.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/AddTapDevice.kt
  kmp_client/app/src/jvmMain/kotlin/com/dobby/tap/FindTapDeviceName.kt
  kmp_client/app/src/jvmMain/kotlin/nativeModule.kt
  kmp_client/grpcprotos/src/main/proto/com/dobby/vpnserver/vpnserver.proto
  kmp_client/grpcstub/src/main/kotlin/interop/GrpcVpnLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/drivers/DriversGrpcLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/drivers/DriversLibrary.kt
  kmp_client/grpcstub/src/main/kotlin/interop/healthcheck/HealthCheckGrpcLibrary.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: removed unused constant
  go_client/logger/logger.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed windows installer
  installer/windows/AppComponents.wxs
  installer/windows/Folders.wxs
  installer/windows/tap-device/device/amd64/OemVista.inf
  installer/windows/tap-device/device/amd64/tap0901.cat
  installer/windows/tap-device/device/amd64/tap0901.sys
  installer/windows/tap-device/device/amd64/tapinstall.exe
  installer/windows/tap-device/device/i386/OemVista.inf
  installer/windows/tap-device/device/i386/tap0901.cat
  installer/windows/tap-device/device/i386/tap0901.sys
  installer/windows/tap-device/device/i386/tapinstall.exe
  installer/windows/tap-device/installer/add_tap_device.bat
  installer/windows/tap-device/installer/find_tap_device_name.bat
Due: none

Refactoring: fixed detekt warnings
  kmp_client/grpcstub/src/main/kotlin/interop/GrpcVpnLibrary.kt
Due: kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: removed tap-driver install files from the conveyor build
  kmp_client/conveyor.conf
Due: none

Refactoring: fixed AddTapDevice
  go_client/desktop_exports/executor/windows_execute.go
  go_client/drivers/tap_device_windows.go
  kmp_client/app/src/jvmMain/kotlin/com/dobby/feature/vpn_service/DobbyVpnService.kt
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

Refactoring: better AddTapDevice logging
  go_client/drivers/tap_device_windows.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed windows lib build
  go_client/drivers/tap_device_windows.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed TAP driver creation
  go_client/drivers/tap_device_windows.go
Due: go-lint-unix, go-lint-windows

Refactoring: fixed windows build
  go_client/drivers/tap_device_windows.go
  installer/windows/AppComponents.wxs
Due: go-lint-unix, go-lint-windows

Fix android cloak
  go_client/tunnel/internal/adaptor_default.go
  go_client/tunnel/internal/adaptor_ios.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Refactoring: final tap driver install fixes
  go_client/drivers/tap_device_windows.go
  installer/windows/build.bat
Due: go-lint-unix, go-lint-windows

Shadowsocks and georouting works on windows
  go_client/cloak/routing_windows.go
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/tun_device_windows.go
  go_client/routing/routing_windows.go
  go_client/tunnel/protect_windows.go
  go_client/tunnel/tunnel.go
  kmp_client/app/src/jvmMain/kotlin/Main.kt
  kmp_client/conveyor.conf
  kmp_client/tap-device/device/amd64/OemVista.inf
  kmp_client/tap-device/device/amd64/tap0901.cat
  kmp_client/tap-device/device/amd64/tap0901.sys
  kmp_client/tap-device/device/amd64/tapinstall.exe
  kmp_client/tap-device/device/i386/OemVista.inf
  kmp_client/tap-device/device/i386/tap0901.cat
  kmp_client/tap-device/device/i386/tap0901.sys
  kmp_client/tap-device/device/i386/tapinstall.exe
  kmp_client/tap-device/installer/add_tap_device.bat
  kmp_client/tap-device/installer/find_tap_device_name.bat
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

Migrate to wintun
  go_client/go.mod
  go_client/go.sum
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/tun_device_windows.go
  go_client/outline/internal/tun_device_windows_wintun.go
  go_client/routing/routing_windows.go
  kmp_client/app/src/jvmMain/kotlin/Main.kt
  kmp_client/conveyor.conf
Due: go-lint-unix, go-lint-windows, kotlin-detekt-unix, kotlin-detekt-windows

chore: update airports data
  kmp_client/app/src/commonMain/composeResources/files/airports.csv
Due: none

Fix tun2socks on windows
  .github/workflows/desktop_build.yml
  go_client/go.mod
  go_client/go.sum
  go_client/outline/internal/app_windows.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_windows_wintun.go
  go_client/routing/routing_windows.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

Fix windows device installer
  .github/workflows/desktop_build.yml
Due: none

First version on macos
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/tun_device_macos.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/tun_device_macos.go
  go_client/routing/routing_macos.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/tun_device_macos.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/tun_device_macos.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/app_macos.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/outline_device.go
  go_client/outline/internal/tun_device_macos.go
  go_client/routing/routing_macos.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/app_windows.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version on macos
  go_client/outline/internal/app_macos.go
  go_client/outline/internal/tun_device_macos.go
  go_client/routing/routing_macos.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version of georouting on macos
  go_client/outline/internal/app_macos.go
  go_client/tunnel/protect_darwin.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

First version of georouting on macos
  go_client/outline/internal/app_macos.go
  go_client/tunnel/tunnel.go
Due: go-lint-unix, go-lint-windows

init trusttunnel bridge
  .github/workflows/trusttunnel_build.yml
  .gitmodules
  go_client/trusttunnel/bridge.c
  go_client/trusttunnel/dobby_bridge/CMakeLists.txt
  go_client/trusttunnel/dobby_bridge/dobby_bridge.cpp
  go_client/trusttunnel/dobby_bridge/dobby_bridge.h
  go_client/trusttunnel/manager_desktop.go
  go_client/trusttunnel/manager_mobile.go
Due: go-lint-unix, go-lint-windows

First version of georouting on macos
  go_client/outline/internal/app_macos.go
  go_client/tunnel/protect_darwin.go
Due: go-lint-unix, go-lint-windows
